<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.obeo.fr/dsl/Ariadne/Environment"
            class="fr.obeo.ariadne.model.environment.EnvironmentPackage"
            genModel="model/ariadne-environment.xcore"/>
   </extension>

</plugin>
