<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.obeo.ariadne.model.code.presentation.CodeModelWizardID"
            name="%_UI_CodeModelWizard_label"
            class="fr.obeo.ariadne.model.code.presentation.CodeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CodeModelFile.gif">
         <description>%_UI_CodeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="fr.obeo.ariadne.model.code.presentation.CodeEditorID"
            name="%_UI_CodeEditor_label"
            icon="icons/full/obj16/CodeModelFile.gif"
            extensions="ariadnecode"
            class="fr.obeo.ariadne.model.code.presentation.CodeEditor"
            contributorClass="fr.obeo.ariadne.model.code.presentation.CodeActionBarContributor">
      </editor>
   </extension>

</plugin>
