<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.commands">
     <category
           description="%ariadneCommandCategoryDescription"
           id="fr.obeo.ariadne.ide.ui.commandCategoryId"
           name="%ariadneCommandCategoryId">
     </category>
     <command
           categoryId="fr.obeo.ariadne.ide.ui.commandCategoryId"
           id="fr.obeo.ariadne.ide.ui.command.exploreId"
           name="%ariadneCommandExploreName">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?endof=additions">
        <menu
              id="fr.obeo.ariadne.ide.ui.menuId"
              label="%ariadnePopupMenuLabel">
           <command
                 commandId="fr.obeo.ariadne.ide.ui.command.exploreId"
                 label="%ariadneCommandExploreLabel"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                      <test
                            property="org.eclipse.core.resources.open"
                            value="true">
                      </test>
                    </adapt>
                 </iterate>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="fr.obeo.ariadne.ide.ui.actionSetId"
           label="%ariadneActionSetLabel"
           visible="true">
        <action
              class="fr.obeo.ariadne.ide.connector.ui.internal.actions.explore.AriadneExploreProjectsAction"
              definitionId="fr.obeo.ariadne.ide.ui.command.exploreId"
              id="fr.obeo.ariadne.ide.ui.action.exploreId"
              label="%ariadneActionExploreLabel"
              style="push">
        </action>
     </actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="fr.obeo.ariadne.ide.connector.ui.category"
           name="%ariadneConnectorCategoryName">
     </category>
     <wizard
           canFinishEarly="false"
           category="fr.obeo.ariadne.ide.connector.ui.category"
           class="fr.obeo.ariadne.ide.connector.ui.internal.wizards.project.AriadneNewProjectWizard"
           hasPages="true"
           icon="icons/ariadne_project.png"
           id="fr.obeo.ariadne.ide.connector.ui.wizard.project"
           name="%ariadneNewProjectWizardName"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/ariadne_project.png"
           id="fr.obeo.ariadne.ide.connector.ui.image"
           natureId="fr.obeo.ariadne.ide.connector.core.nature">
     </image>
  </extension>
</plugin>
