<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.obeo.ariadne.model.continuousintegration.presentation.ContinuousintegrationModelWizardID"
            name="%_UI_ContinuousintegrationModelWizard_label"
            class="fr.obeo.ariadne.model.continuousintegration.presentation.ContinuousintegrationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContinuousintegrationModelFile.gif">
         <description>%_UI_ContinuousintegrationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="fr.obeo.ariadne.model.continuousintegration.presentation.ContinuousintegrationEditorID"
            name="%_UI_ContinuousintegrationEditor_label"
            icon="icons/full/obj16/ContinuousintegrationModelFile.gif"
            extensions="ariadnecontinuousintegration"
            class="fr.obeo.ariadne.model.continuousintegration.presentation.ContinuousintegrationEditor"
            contributorClass="fr.obeo.ariadne.model.continuousintegration.presentation.ContinuousintegrationActionBarContributor">
      </editor>
   </extension>

</plugin>
