<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.obeo.fr/dsl/Ariadne/SCM"
            class="fr.obeo.ariadne.model.scm.ScmPackage"
            genModel="model/ariadne-scm.xcore"/>
   </extension>

</plugin>
